include ../mixins/socialitem
include ../mixins/footermenu

footer.footer 
  nav.footer__socialnav
    img.footer__logo(src="assets/images/logo.svg", alt="insure logo")
    ul.sociallist.reset-list
      +socialitem("facebook")
      +socialitem("twitter")
      +socialitem("pinterest")
      +socialitem("instagram")
  nav.footer__nav 
    ul.footermenu.reset-list
      +footermenu("our company", ["how we work","why insure?","view plans","reviews"])
      +footermenu("help me", ["faq","terms of use","privacy policy","cookies"])
      +footermenu("contact", ["sales","support","live chat"])
      +footermenu("others", ["careers","press","licenses"])
