include ../mixins/socialitem
include ../mixins/footermenu

footer.footer 
  img.footer__logo(src="assets/images/logo.svg", alt="insure logo")
  nav.footer__sociallist
    ul.sociallist
      +socialitem("facebook")
      +socialitem("twitter")
      +socialitem("pinterest")
      +socialitem("instagram")
  nav.footernav 
    ul.footermenu
      +footermenu("our company", ["how we work","why insure?","view plans","reviews"])
      +footermenu("help me", ["faq","terms of use","privacy policy","cookies"])
      +footermenu("contac", ["sales","support","live chat"])
      +footermenu("other", ["careers","press","licenses"])
