/* font-family: 'DM Serif Display', serif;
font-family: 'Karla', sans-serif; */
:root {
  --Dark-Violet: hsl(256, 26%, 20%);
  --Grayish-Blue: hsl(216, 30%, 68%);
  --Very-Dark-Violet: hsl(270, 9%, 17%);
  --Dark-Grayish-Violet: hsl(273, 4%, 51%);
  --Very-Light-Gray: hsl(0, 0%, 98%);
  --font-size: 100%;
}

*,
*::before,
*::after {
  box-sizing: border-box;
}

.reset-list {
  margin: 0;
  padding-left: 0%;
  list-style: none;
}

.body {
  min-height: 100vh;
  font-family: "Karla", sans-serif;
}

.text--light {
  color: var(--Very-Light-Gray);
  background-color: var(--Dark-Violet);
}
.text--light::before {
  display: none;
}
@media screen and (min-width: 1280px) {
  .text--light::before {
    display: block;
  }
}

.menu__link,
.article__link,
.about__link,
.sociallist__link,
.footersubmenu__link {
  text-transform: uppercase;
  text-decoration: none;
}

.menu--active {
  overflow: hidden;
}

.header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 86%;
  margin-left: auto;
  margin-right: auto;
  min-height: 80px;
}

@media screen and (min-width: 1280px) {
  .togglemenu {
    display: none;
  }
}

.menu {
  position: absolute;
  left: 0;
  top: 80px;
  z-index: 1;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: center;
  gap: 0.7rem;
  width: 100%;
  height: calc(100vh - 80px);
  padding-top: 2.1rem;
  background-color: var(--Very-Dark-Violet);
  background-image: url("../assets/images/bg-pattern-mobile-nav.svg");
  background-repeat: no-repeat;
  background-position: left bottom;
  background-size: contain;
  color: white;
  transition: transform 0.5s;
}
@media screen and (min-width: 1280px) {
  .menu {
    position: relative;
    top: 0;
    right: 0;
    flex-direction: row;
    justify-content: flex-end;
    height: 80px;
    padding-top: 0;
    background: transparent;
    color: var(--Dark-Grayish-Violet);
  }
}
@media screen and (min-width: 1280px) {
  .menu__item:hover {
    cursor: pointer;
    color: var(--Very-Dark-Violet);
  }
}
.menu__item:last-child {
  outline: 1px solid currentColor;
}
@media screen and (min-width: 1280px) {
  .menu__item:last-child {
    color: var(--Very-Dark-Violet);
  }
  .menu__item:last-child:hover {
    color: white;
    background-color: var(--Very-Dark-Violet);
  }
}
.menu__link {
  display: inline-block;
  padding-block: 0.9em;
  padding-inline: min(5em, 23vw);
  font-size: 1.15rem;
  font-weight: 700;
  letter-spacing: 0.1em;
  color: inherit;
}
@media screen and (min-width: 1280px) {
  .menu__link {
    padding-inline: 1em;
    font-size: 0.8rem;
  }
}

@media screen and (max-width: 1279px) {
  .translate-menu {
    transform: translateX(100vw);
  }
}

@media screen and (max-width: 1279px) {
  .hide-menu {
    display: none;
  }
}

.togglemenu {
  margin: 0;
  padding: 0;
  background-color: transparent;
  border: none;
  outline: none;
}

.article {
  position: relative;
  padding-top: 0.1px;
  padding-bottom: clamp(3.4rem, 10vw, 5.7rem);
  margin-bottom: clamp(2rem, 10vw, 3.2rem);
  text-align: center;
}
@media screen and (min-width: 1280px) {
  .article {
    padding-top: 4rem;
    text-align: left;
  }
}
.article__img-intro {
  display: block;
  width: 100%;
}
@media screen and (min-width: 1280px) {
  .article__img-intro {
    position: absolute;
    top: 104px;
    left: 51vw;
    width: 540px;
  }
}
.article__title {
  margin-top: 6.5rem;
  margin-bottom: 0.38em;
  font-family: "DM Serif Display", serif;
  font-weight: 400;
  font-size: clamp(2rem, 12.2vw, 4.5rem);
  line-height: 0.9;
}
@media screen and (min-width: 1280px) {
  .article__title {
    margin-left: 11vw;
  }
}
.article__paragraph {
  margin-top: 0;
  margin-bottom: 1.8rem;
  margin-inline: auto;
  width: 86%;
  max-width: 500px;
  line-height: 1.7;
}
@media screen and (min-width: 1280px) {
  .article__paragraph {
    margin-left: 11vw;
    max-width: 540px;
  }
}
.article__link {
  display: inline-block;
  padding: 0.7em 1.6em;
  margin-bottom: 2rem;
  font-size: 0.9rem;
  font-weight: 700;
  letter-spacing: 0.1em;
  border: 2px solid white;
  color: inherit;
}
@media screen and (min-width: 1280px) {
  .article__link {
    margin-left: 11vw;
  }
  .article__link:hover {
    color: var(--Dark-Grayish-Violet);
    background-color: white;
    cursor: pointer;
  }
}
.article__bg-left, .article__bg-right {
  position: absolute;
}
.article__bg-left {
  left: 0;
  top: 120.3vw;
  width: 160px;
}
@media screen and (min-width: 1280px) {
  .article__bg-left {
    top: 428px;
    width: 195px;
  }
}
.article__bg-right {
  right: 0;
  bottom: -178px;
  width: 124px;
}
@media screen and (min-width: 1280px) {
  .article__bg-right {
    top: 0;
    width: 436px;
    object-position: 0 -80px;
  }
}
.article::before {
  content: "";
  position: absolute;
  top: 48px;
  left: 50%;
  width: 150px;
  height: 0;
  border-bottom: 1px solid var(--Dark-Grayish-Violet);
  transform: translateX(-50%);
}
@media screen and (min-width: 1280px) {
  .article::before {
    top: 100px;
    left: 11vw;
    transform: translateX(0);
  }
}

.sections-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  padding-top: 4rem;
}
@media screen and (min-width: 1280px) {
  .sections-container {
    flex-direction: row;
    align-items: flex-start;
    justify-content: space-between;
    padding-inline: 11vw 3.5vw;
  }
}

.section {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  padding-bottom: 3.2rem;
}
@media screen and (min-width: 1280px) {
  .section {
    align-items: flex-start;
  }
}
.section__subtitle {
  margin-top: 2.25rem;
  margin-bottom: 1rem;
  font-family: "DM Serif Display", serif;
  font-weight: 400;
  font-size: 1.8rem;
}
.section__paragraph {
  margin: 0;
  width: 86%;
  max-width: 600px;
  line-height: 1.7;
  color: var(--Dark-Grayish-Violet);
}

.about {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-between;
  gap: 2rem;
  width: 86%;
  max-width: 1112px;
  margin-inline: auto;
  margin-bottom: 9rem;
  padding-block: 4.7rem;
  text-align: center;
  background-image: url("../assets/images/bg-pattern-how-we-work-mobile.svg");
  background-repeat: no-repeat;
  background-position: top right;
}
@media screen and (min-width: 1280px) {
  .about {
    flex-direction: row;
    justify-content: space-between;
    padding-inline: 5rem;
    text-align: left;
    background-image: url("../assets/images/bg-pattern-how-we-work-desktop.svg");
  }
}
.about__paragraph {
  margin: 0;
  font-family: "DM Serif Display", serif;
  font-size: clamp(2rem, 11vw, 3.3rem);
  font-weight: 400;
  line-height: 1;
}
.about__link {
  display: inline-block;
  padding: 0.7em 1.6em;
  margin-bottom: 2rem;
  font-size: 0.9rem;
  font-weight: 700;
  letter-spacing: 0.1em;
  border: 2px solid white;
  color: inherit;
  margin-bottom: 0;
}
@media screen and (min-width: 1280px) {
  .about__link:hover {
    background-color: white;
    color: var(--Very-Dark-Violet);
  }
}

.big-margin {
  margin-bottom: clamp(4rem, 22.3vw, 12.8rem);
}

.footer {
  padding-block: 5.4rem;
  background-color: var(--Very-Light-Gray);
  background-image: url("../assets/images/bg-pattern-footer-mobile.svg");
  background-repeat: no-repeat;
  background-position: top left;
  background-size: contain;
}
@media screen and (min-width: 1280px) {
  .footer {
    padding-top: 4.3rem;
    background-image: url("../assets/images/bg-pattern-footer-desktop.svg");
    background-size: auto;
  }
}
.footer__socialnav {
  position: relative;
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 2rem;
  width: 86%;
  margin-inline: auto;
  max-width: 1100px;
  padding-bottom: 2.3rem;
  margin-bottom: 2.3rem;
}
@media screen and (min-width: 1280px) {
  .footer__socialnav {
    margin-bottom: 2.7rem;
  }
}
.footer__socialnav::after {
  content: "";
  position: absolute;
  width: 100%;
  height: 0;
  bottom: 5px;
  border-bottom: 1px solid var(--Dark-Grayish-Violet);
}
@media screen and (min-width: 1280px) {
  .footer__socialnav {
    flex-direction: row;
    justify-content: space-between;
  }
}

.sociallist {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 1rem;
}

.footermenu {
  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: center;
}
@media screen and (min-width: 1280px) {
  .footermenu {
    flex-direction: row;
    justify-content: flex-start;
    align-items: flex-start;
    gap: 7.5rem;
    width: 86%;
    max-width: 1100px;
    margin-inline: auto;
    text-align: left;
  }
}
.footermenu__item {
  width: 10rem;
  font-size: 0.9rem;
  text-transform: uppercase;
  letter-spacing: 0.1rem;
  font-weight: 700;
  color: var(--Dark-Grayish-Violet);
}

.footersubmenu {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  gap: 1rem;
  margin-top: 2.25rem;
  margin-bottom: 2.25rem;
}
@media screen and (min-width: 1280px) {
  .footersubmenu {
    align-items: flex-start;
  }
}
.footersubmenu__link {
  color: var(--Very-Dark-Violet);
}