mixin footermenu(item, submenus)
  li.footermenu__item= item
    ul.footersubmenu.reset-list
      each submenu in submenus 
        li.footersubmenu__item 
          a.footersubmenu__link(href="#")= submenu