mixin section(section)
  section.section
    img.section__img(src=`assets/images/icon-${section.icon}.svg`, alt="")
    h3.section__subtitle= section.subtitle 
    p.section__paragraph=section.paragraph